#!/usr/bin/env python3

import sys
import os.path

def lookup_one(path):
    basename = os.path.splitext(os.path.basename(path))[0]
    base_obj = f'{basename}.o'

    dirpath = os.path.dirname(path)
    makepath = f'{dirpath}/Makefile'

    last_obj = None
    makefile = open(makepath)
    for line in makefile.readlines():
        if line.startswith('obj-'):
            last_obj = line.split(maxsplit=1)[0]
        if last_obj and base_obj in line:
            return last_obj
    
    return None


for path in sys.argv[1:]:
    result = lookup_one(path)
    if result is None:
        print(f'{path}: Not found', file=sys.stderr)
    else:
        print(f'{path}: {result}')
